@import url('/fonts/stylesheet.css');
@import "tailwindcss";

@theme {
  --font-sans: "Merlod Norme", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-merlod-autre: "Merlod Autre", sans-serif;
  --font-merlod-queue: "Merlod Queue", sans-serif;
}@media (pointer: fine) { * { cursor: none !important; } }
::selection { background-color: transparent; color: #f8b845; }
